body {
	background-color: #F6F6F6;
	letter-spacing: 0.75rem;
}

#image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.font {
	font-size: 26px;
	text-shadow: 2px 2px 2px black, 0px 0px 2px black;
}

#screen-keyboard .btn {
	font-size: 28px;
	border-radius: 0;
	width: 75px;
	height: 75px;
}